//************************************************************************
//MIXINS
//************************************************************************/


//SELECTORS
@mixin e ($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m ($modifier) {
	&--#{$modifier} {
		@content;
	}
}

//FLEXBOX
@mixin flexy ($dis:flex, $dir:null, $wrap:null, $just: null) {
	display:$dis;
	flex-direction: $dir;
	flex-wrap: $wrap;
	justify-content: $just;
}
