//************************************************************************
//PLACEHOLDERS
//************************************************************************/

%clearfix::after {
	display: table;
	content: '';
	clear: both;
}

%image-changer {
	font-size: em(30px);
	position : fixed;
	vertical-align: middle;
	color:$black;
	cursor:pointer;
}
