//************************************************************************
//OVERLAY
//************************************************************************/

#overlay {
	position: fixed; 
	display: none; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); 
	z-index: 2; 
	cursor:pointer;
}

.overlay-relative {
	display: relative;
}

.overlay-card {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	width: em(450px);
	margin: auto;
	background-color: $white;
	text-align:center;
	@include flexy($dir:column, $just:center);
	padding:em(40px);
	border-radius: $br;
	border:2px $grey solid;
	cursor:default;
	box-shadow: em(10px) em(10px) em(5px) $black;
	
	&:nth-child(1n+1) {
		text-transform: capitalize;
	}
	
}

.overlay-image {
	display:inline-block;
	border-radius: $br-round;
	max-width: em(200px);
	margin:auto;
}

.overlay-email {
	text-transform: lowercase;
}

.overlay-email,
.overlay-city,
.overlay-telephone,
.overlay-address,
.overlay-birthday {
	color:$grey;
}

.overlay-name,
.overlay-exit {
	color:$black;
}

.overlay-solid-line {
	width: 100%;
	height:em(1px);
	background-color: $grey;
}

.overlay-exit {
	text-transform: uppercase;
	position: fixed;
	font-size: em(20px);
	cursor:pointer;
	top: em(10px);
	right: em(10px);
}

.previous-image,
.next-image {
	@extend %image-changer;
}

.previous-image {
	left: em(10px);
}

.next-image {
	right: em(10px);
}

